<div class="sticky-top">
    <div class="container-fluid bg-primary text-white d-flex flex-row position-relative topheading">
      <h1>Address Book</h1>
    </div>
    
    <div class="toptab position-relative" > 
      <nav class="nav nav-bar">
        <a routerLink="/contactlist" class="nav-link text-white" title="Go to Home" >HOME</a>
        <a routerLink="/contactlist/add/contact" class="nav-link text-white" title="Add Contact">+ADD</a>
        <img class="my-2 ml-auto mr-4" src="assets/blog-icon.png">
      </nav>
    </div>
</div>

<router-outlet></router-outlet>    

